{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<h1 class="text-center">Listado de Personas</h1>
<div class="text-center ">
    <a href="nuevapersona" class="btn btn-primary ">
        Agregar Empleado
    </a>
</div>
<hr>
<table class="table table-bordered table-striped table-hover ">
    <thead>
        <tr class="table-success text-center">
            <th>ID</th>
            <th>Names</th>
            <th>Last Names</th>
            <th>Identification number</th>
            <th>Born Date</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Direction</th>
            <th>City</th>
            <th>Ocupation</th>
            <th>State</th>
            <th>Creation date</th>
            <th>Update date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for personaTemporal in persona %}
        <tr>
            <td>{{personaTemporal.id}}</td>
            <td>{{personaTemporal.nombres}}</td>
            <td>{{personaTemporal.apellidos}}</td>
            <td>{{personaTemporal.numero_identificacion}}</td>
            <td>{{personaTemporal.fecha_nacimiento}}</td>
            <td>{{personaTemporal.correo_electronico}}</td>
            <td>{{personaTemporal.telefono_contacto}}</td>
            <td>{{personaTemporal.direccion}}</td>
            <td>{{personaTemporal.ciudad}}</td>
            <td>{{personaTemporal.ocupacion}}</td>
            <td>{{personaTemporal.activo}}</td>
            <td>{{personaTemporal.fecha_creacion}}</td>
            <td>{{personaTemporal.fecha_actualizacion}}</td>
            <td>
                <a href="editarPersona/{{personaTemporal.id}}" class="btn btn-outline-warning">
                    <i class="fa fa-pen"></i>
                </a>
                <a href="#" class="btn btn-outline-danger" onclick="confirmarEliminacion('{{personaTemporal.id}}')">
                    <i class="fa fa-trash"></i>
                </a>
                <script>
                    function confirmarEliminacion(id) {
                        Swal.fire({
                            title: '¿Estás seguro?',
                            text: '¡Esta acción no se puede deshacer!',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Sí, eliminar',
                            cancelButtonText: 'Cancelar'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = `eliminarPersona/${id}`;
                            }
                        });
                    }
                </script>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<br>
{% endblock %}